<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body style="margin: 0 auto; text-align: center;padding: 0;background-color: #f2f2f2;font-family:Arial, Helvetica, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;">
    <table border="0" cellspacing="0" cellpadding="0" width="680" style="margin:0 auto;background-color:#ffffff;text-align: left">
      <tbody>
        <tr>
          <td align="center">
            <table width="600" cellspacing="0" cellpadding="0">
              <tbody>
                <tr height="20">
                  <td width="482" style="text-align:right;font-size:10.5px;vertical-align:top;font-family:Georgia,Times,serif;font-style:italic;font-weight:normal;padding-top:20px">
                    <span style="color:#787878;font-weight:normal;padding-bottom:3px">If you are unable to see this message,<a href="#" alt="click here to view this message" style="color:#00A9E0;text-decoration:none" target="_blank"> click here to view</a></span><br>
                    <span style="color:#999999;font-weight:normal;padding-bottom:3px">To ensure delivery to your inbox, please add <a style="color:#00A9E0;font-weight:normal;text-decoration:none" href="mailto:reminder@graboard.com" target="_blank">reminder@<span class="il">graboard</span>.<span class="il">com</span></a> to your address book.</span><br>
                    <span style="color:#999999;font-weight:normal;display:inline-block;padding-bottom:35px">Don't want this? Safely <a style="color:#00A9E0;font-weight:normal;text-decoration:none;border:none;outline:none" alt="unsubscribe" href="#" target="_blank">unsubscribe</a></span><br>
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="600" cellspacing="0" cellpadding="0"  style="border-bottom:1px solid #AAA;">
              <tbody>
                <tr>
                  <td height="19">
                    &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="600" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td height="20" align="right">
                    <table cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td height="20" valign="middle" bgcolor="#00A9E0">
                            <div>
                              <a style="line-height:1em;text-decoration:none;display:block;margin:2px 4px;color:#ffffff;font-size: 12px;" href="#">Issue #01 06/2012</a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="600" cellspacing="0" cellpadding="0">
              <tbody>
                <tr height="80">
                  <td align="left" valign="bottom">
                    <table width="600" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td rowspan="1" align="left" valign="bottom">
                            <div style="color:#353535; font-family:Helvetica,Arial,sans-serif; height:50px; font-size:55px; font-weight:700; letter-spacing:-2px; line-height:90%;">Graboard</div>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">
                            <div style="margin-left: 3px;color:#444; font-family:Helvetica,Arial,sans-serif; height:25px; font-size:19px; font-weight:700; letter-spacing:-1px;">Punch Line</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="600" cellspacing="0" cellpadding="0"  style="border-bottom:1px solid #AAA;">
              <tbody>
                <tr>
                  <td height="19">
                    &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="600" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td height="40">
                    &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- ~ header block ends here -->
            <!-- 1/1 Text start -->
            <table width="600" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td valign="top">
                    <table width="600" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <!-- CONTENT start -->
                          <td valign="top" align="left">
                            <div>
                              <div style="color:#444; font-family:Helvetica,Arial,sans-serif; font-size:24px; font-weight:700; letter-spacing:-2px; margin-bottom:6px; margin-top:10px; line-height:24px;">
                                Headline goes here
                              </div>
                            </div>
                            <div style="color: #787878;font-family:Helvetica,Arial,sans-serif; font-size:12px;">
                                Li Europan lingu es es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam <a style="color:#00A9E0;text-decoration:none" href="#">vocabular</a>. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.
                            </div>
                          </td>
                          <!-- CONTENT end -->
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- 1/1 Text end -->
            <!-- Seperator start -->
            <table width="600" cellspacing="0" cellpadding="0"  style="border-bottom:1px solid #AAA;">
              <tbody>
                <tr>
                  <td height="39">
                    &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="600" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td height="40" align="right" valign="top">
                    <div>
					//
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- Seperator end -->
            <!-- 1/4 Image Full start -->
            <table width="600" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td valign="top">
                    <table width="600" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <!-- CONTENT start -->
                          <td width="135" valign="top" align="left">
                            <img src="img/135x160.jpeg" alt="" title="" width="135" height="160" border="0" style="max-width:135px;">
                          </td>
                          <td width="20">
                            &nbsp;
                          </td>
                          <td width="135" valign="top" align="center">
                            <img src="img/135x160.jpeg" alt="" title="" width="135" height="160" border="0" style="max-width:135px;">
                          </td>
                          <td width="20">
                            &nbsp;
                          </td>
                          <td width="135" valign="top" align="center">
                            <img src="img/135x160.jpeg" alt="" title="" width="135" height="160" border="0" style="max-width:135px;">
                          </td>
                          <td width="20">
                            &nbsp;
                          </td>
                          <td width="135" valign="top" align="right">
                            <img src="img/135x160.jpeg" alt="" title="" width="135" height="160" border="0" style="max-width:135px;">
                          </td>
                          <!-- CONTENT end -->
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- 1/4 Image Full end -->
            <!-- Footer start -->
            <table width="600" cellspacing="0" cellpadding="0"  style="border-bottom:1px solid #AAA;">
              <tbody>
                <tr>
                  <td height="39">
                    &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="600" cellspacing="0" cellpadding="0">
              <tbody>
                  <tr>
                <td colspan="4">
                  <table border="0" cellspacing="0" cellpadding="0" width="100%" height="40" style="background-color:#ffffff;margin:0 auto;">
                    <tbody><tr>
                      <td align="left" style="font-size:10px;color: #787878">
                        <a href="#" target="_blank" style="text-decoration:none;display:inline-block;padding-right:10px;outline:none;color: #000000!important;">About</a>
                        <a href="#" target="_blank" style="text-decoration:none;display:inline-block;padding-right:10px;outline:none;color: #000000!important;">Contact Us</a>
                        <a href="#" target="_blank" style="text-decoration:none;display:inline-block;padding-right:10px;outline:none;color: #000000!important;">Terms</a>
                        <a href="#" target="_blank" style="text-decoration:none;display:inline-block;padding-right:10px;outline:none;color: #000000!important;">Privacy</a>
                      </td>

                      <td align="right">
                        <a style="display: inline-block;outline:none;" href="#" target="_blank"><img src="img/twitter-share.png" style="border: 0px none;" alt="tw" height="26" width="26"></a>
                        <a style="display: inline-block;padding-left:5px;outline:none;" href="#" target="_blank"><img src="img/facebook-share.png" alt="fb" style="border: 0px none;" height="26" width="26"></a>
                      </td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>
              </tbody>
            </table>
            <table width="600" cellspacing="0" cellpadding="0"  style="border-bottom:1px solid #AAA;">
              <tbody>
                <tr>
                  <td>

                  </td>
                </tr>
              </tbody>
            </table>
            <table width="600" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td style="padding: 10px 0">
                    <span style="font-style: italic;color:#787878;font-size: 11px;font-family: Georgia;line-height:16px;padding-bottom: 3px">You received this email because you are registered on <a style="color:#00A9E0;border: none;outline: none;" href="#" alt="graboard.com">graboard.com</a> with the email address: <a style="color:#00A9E0;border: none;outline: none;" href="saorabh.kr@gmail.com" alt="saorabh.kr@gmail.com">saorabh.kr@gmail.com</a>. We respect your privacy. View our  <a style="color:#000;border: none;outline: none;" href="#" alt="privacy policy">privacy policy</a>. If you believe this has been sent to you in error, please safely <a style="color:#000;border: none;outline: none;" href="#" alt="unsubscribe">unsubscribe</a>.</span>
                  </td>
                  <td width="20">
                    &nbsp;
                  </td>
                  <td align="right" valign="middle" width="187">
                    <div style="color:#444; font-family:Helvetica,Arial,sans-serif; font-size:18px; font-weight:700; margin-bottom:6px; margin-top:10px; line-height:24px;">
                      Graboard <span style="font-size: 16px;">Team</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- Footer end -->
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
