<div class="inviteWraper">
  <ul id="inviteTabs">
    <li><a href="#" name="#email">Email</a></li>
    <li><a href="#" name="#facebook">Facebook</a></li>
  </ul>
  <div id="inviteContent">
    <div id="email">
      <h2>Lorem ipsum sit amet</h2>
      <p>Praesent risus nisi, iaculis nec condimentum vel, rhoncus vel dolor. Aenean nisi lectus, varius nec tempus id, dapibus non quam.</p>
      <p>Suspendisse ac libero mauris. Cras lacinia porttitor urna, vitae molestie libero posuere et. Mauris turpis tortor, mollis non vulputate sit amet, rhoncus vitae purus.</p>
      <h3>Pellentesque habitant</h3>
      <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</p>
    </div>
    <div id="facebook">
      <h2>Vivamus fringilla suscipit justo</h2>
      <p>Aenean dui nulla, egestas sit amet auctor vitae, facilisis id odio. Donec dictum gravida feugiat.</p>
      <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras pretium elit et erat condimentum et volutpat lorem vehicula</p>

      <p>Morbi tincidunt pharetra orci commodo molestie. Praesent ut leo nec dolor tempor eleifend.</p>
    </div>
  </div>
</div>

