<!DOCTYPE html>
<html>
  <head>
    <title>Graboard</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon" />
    <link href="/stylesheets/lib/animateForm.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/lib/loginForm.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
<%= stylesheet_link_tag params[:controller] %>