/*
    Document   : style
    Created on : May 25, 2012, 12:47:29 AM
    Author     : abhimanyusaxena
    Description: Purpose of the stylesheet follows.
*/
/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
html, body {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: auto;
  *font-size:small;

}
body{
  background:#f2f2f0;
  font-size:12px;
  min-width:960px;
  margin:0;
  padding:0;
  color:#47565E;

}

a {
  -moz-transition:color 0.3s ease-out;
  -webkit-transition:color 0.3s ease-out;
  -o-transition:color 0.3s ease-out;
  -ms-transition:color 0.3s ease-out;
  transition:color 0.3s ease-out;
}
a{
  text-decoration: none;
}
.clear:after {
  clear: both;
}
.displayNone{
  display: none;
}
.clear:before, .clear:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.floatLeft{
  float: left;
}
.floatRight{
  float: right;
}
.font11{
  font-size: 11px;
}
.font12{
  font-size: 12px;
}
.color9{
  color: #999;
}
.color3{
  color: #333;
}


.border2, .round2{
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.border5, .round5{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.border7, .round7{
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.border7, .round9{
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}
.photo, .video,.music {
  -moz-transition: -moz-transform 0.25s ease-in-out;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  z-index: 9
}
.item {
  background: #d8d8d8;
  float: left;
  margin: 0 14px 15px 0;
  position: relative;
  z-index: 8;
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}
/*.item a {
color: #333;
}*/
.item a {
  color: #0685B1;
}
.music .title,.photo .title,.video .title {
  background: none repeat scroll 0 0 rgba(233, 5, 4, 0.75);
  color: #FFFFFF;
  display: none;
  font-size: 11px;
  font-weight: bold;
  height: 84px;
  left: 6px;
  line-height: 13px;
  padding: 13px;
  position: absolute;
  text-transform: uppercase;
  top: 6px;
  z-index: 100;
}

.music .type, .photo .type, .video .type {
  background-color: #FFFFFF;
  z-index: 101;
}
.item .searchIcon {
  background-attachment: scroll;
  background-clip: border-box;
  /*  background-color: #545454;*/
  /*  background-color:  rgba(233, 5, 4, 0.8);*/
  background-image: url("../images/search-icon-th.png");
  background-origin: padding-box;
  background-position: 8px 9px;
  background-size:20px 20px;
  background-repeat: no-repeat;
  height: 36px;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  top: 0;
  width: 36px;
  /*  box-shadow: -4px 7px 7px 0 rgba(233, 5, 4, 0.4);*/

}
.heartIconGray{
  background: url("../images/heart.png") no-repeat scroll 0 0 transparent;
  display: inline-block;
  height: 11px;
  margin-top: 2px;
  width: 11px;
}
.music .wrapper,.photo .wrapper, .video .wrapper {
  padding: 6px 6px 2px 6px;
}
.item .wrapper {
  background:#fff;
  display: block;
  left: -5px;
  position: relative;
  top: -5px;
}

.hide{
	display: none;
}
.morphing-glowing .image-wrap {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.morphing-glowing .image-wrap:hover {
  -webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
  -moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
  box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
  -webkit-border-radius: 60em;
  -moz-border-radius: 60em;
  border-radius: 60em;
}
a:hover{
  color:#0685B1;
}

.item .wrapper .typeInfo a,.item .wrapper .typeInfo span{
  color: #58676C;
}
.item:hover .searchIcon{
  display: block;
}
.socialToolbar{
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
  bottom: 0px;
  height: 37px;
  position: absolute;
  width: 240px;
}

.mainWrapper{
  padding: 15px 15px 15px 20px;
  overflow: hidden;
  margin: 0 auto;
  height: 100%;
}
.navigation .logo{
  background-color: #84C3D1;
  background-image: -moz-linear-gradient(center top , #84C3D1, #6BB2C3);
  height: 60px;
  border: 0;
  position: absolute;
  top: 0px;
  width: 165px;
  left: 30px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);

}
.navigation .logo a{
  background: url("/images/grabord.png") no-repeat 10px 18px;
  width: 155px;
  height: 60px;
  text-indent: -9999px;
  display: block;
}
.navigation {
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  width: 100%;
  background-color: white;
  height: 60px;
  z-index: 100;
}
ul.navigationLinks li{
  float: left;
  list-style-type: none;
  position: relative;
}
.navigationLinks li a{
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 0 10px;
  font-weight:300;
}
.navigationLinks .recentPic,
.navigationLinks .recentVideo ,
.navigationLinks .allPhotos{
  margin-top: 4px;
}
.navigationLinks .recentPic:hover ,
.navigationLinks .recentVideo:hover ,
.navigationLinks .allPhotos:hover {
  background:none repeat scroll 0 0 #F7F9FA;
  border-radius: 3px 3px 0 0px;
  color:#0685B1;

}
.navigationLinks li:hover > a{
  color: #0685B1;
}
.navigationLinks .recentPic:hover .subNav,
.navigationLinks .recentVideo:hover .subNav,
.navigationLinks .allPhotos:hover .subNav{
  display: block;
  color:#0685B1;
}
.navigationLinks li .updatedBy:hover .subNav{
  display: block;
  color:#0685B1;
}
.navigationLinks{
  position: relative;
}
.subNav{
  background: none repeat scroll 0 0 #F7F9FA;
  position: absolute;
  padding: 5px 0;
  width: 185px;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}
.subNav li{
  width: 185px;
  padding:0 0 6px 0;
  border-bottom: 1px dotted #999999;
  line-height: 180%;
}
.subNav li.lastLi{
  border: none;
}
.phantomDiv{
  height: 68px;
  position: relative;
}
.logo a{
  color: #fff;
  font-size: 27px;
  text-decoration: none;
  font-style: normal;

}
.logo a:hover,.navigationLinks li a:hover{
  color:#0685B1;
}
.ownerDetails{
  margin-top: 5px;
  line-height: 170%;
}
.ownerDetails .updatedBy{
  position: relative;
}
.allPhotos .subNav,.ownerDetails .subNav{
  right:0;
}
ul.navigationLinks li:hover{
  color:#0685B1!important;
}
ul.navigationLinks li:hover .morphing-glowing .image-wrap{
  -webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
  -moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
  box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
  -webkit-border-radius: 60em;
  -moz-border-radius: 60em;
  border-radius: 60em;
}
.navigationLinks .subNav a{
  letter-spacing: 0.5px;
  display: block;
  color: #000;
}
.subNavFirst{
  border-radius: 0 10px 0 10px;
}
.subNavSecond{
  border-radius: 0 10px 0 10px;
}
.subNavThird{
  border-radius: 10px 0 10px 0;
}
.subNavForth{
  border-radius: 10px 14px 10px 0;
}
.subNavForth ul li:hover .morphing-glowing .image-wrap {
  -webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
  -moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
  box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
  -webkit-border-radius: 60em;
  -moz-border-radius: 60em;
  border-radius: 60em;
}
#footer{
  background: none repeat scroll 0 0 #222222;
  border-top: 1px solid #D9E1E5;
  bottom: 0;
  height: 11px;
  line-height: 11px;
  padding: 10px 14px;
  z-index: 9;
  -webkit-box-shadow:0 -3px 7px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -3px 7px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 -3px 7px 0 rgba(0, 0, 0, 0.3);
  font-size: 13px;
}

.footerLinks li a:hover{
  color:#7A8991!important;
}
.footerLinks li{
  float: left;
  list-style-type: none;
  font-size: 11px;
  padding: 0 5px;
  text-transform: uppercase;
  border-right:1px dotted #999999;
  color: #fff;
}
.footerLinks .lastLi{
  border: none;
}

.footerLinks li a{
  font-size: 11px;
  color:#fff;
}

/* CSS3 EFFECTS */

/* SECOND EFFECTS */

.second-effect .mask {
  opacity: 0;
  overflow:visible;

  position: absolute;
  top: 6px;
  width: 240px;
  height: 100%;
}

.second-effect:hover .mask {
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

}
.itemDisc{
  padding: 20px;
}
.itemDisc span{
  font-size: 16px;
  color: #fff;
  display: inline-block;
}
.itemDisc > span:first-child{
  font-size: 22px;
}
.itemDisc:first-letter{

}
.priceDetails{
  padding-top: 10px;
  overflow: hidden;
}
.priceDetails span{
  font-size: 14px;

}
.discountedPrice {

}
.red{
  color:#dd0017;
}
.gray{
  color:#999!important;
  font-weight: lighter;
}
.perOff{

}
.strike{
  text-decoration: line-through;
}
.fontBold{
  font-weight: bold;
}
.grabIt{
  background-color: #84C3D1;
  background-image: -moz-linear-gradient(center top , #84C3D1, #6BB2C3);
  border: 1px solid #40B0CA;
  box-shadow: 0 0 2px 0 #84C4D1 inset;
  color: #FFFFFF;
  text-transform: lowercase;
  float: right;
  height: 21px;
  line-height: 19px;
  padding: 5px 20px;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  text-decoration: none;
}
.grabIt:hover{
  background-color: #84C3D1;
  background-image: -moz-linear-gradient(center top , #84C3D1, #6BB2C3);
  color: #FFFFFF !important;
  opacity: 0.8;
}
.cboxElement a img{
  /*  border-bottom: 3px solid #000;
    outline: none;
    display: block;*/
}


.wishList{
  width: 210px;
  padding: 10px;
  margin: 10px 20px;
  float: right;
  background:red;
  color:white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.cboxElement a.imgContent img{
  border-bottom: 3px solid #000;
  outline: none;
  display: block;
  margin-bottom: -1px;
}
/**** Transitions ****/
.noAnimation{
  -webkit-transition-duration: 0 !important;
  -moz-transition-duration: 0 !important;
  -ms-transition-duration: 0 !important;
  -o-transition-duration: 0 !important;
  transition-duration: 0 !important;
}
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.masonry {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;
}

.mainWrapper .loader{
  display: table;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
.noAuthBox{
  margin: 0 0 10px 0;
  position: fixed;
  width: 541px;
  z-index: 90;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  background-color:rgba(255, 255, 255, 0.95);
  color:#383838;
  font-size: 15px;
  height: 55px;
  left: 50%;
  margin-left: -272px;
  text-align: center;
  border-radius: 0 0 5px 5px;
	top:60px;
}
.noAuthBox .desc{
  font-size: 14px;
  display: inline-block;
  text-align: center;
  width: 260px;
  margin-top: 10px;
  float: left;
  margin-left: 15px;
  color:#F38080;
}
.noAuthBox .btn{
  margin-right: 10px;
  cursor: pointer;
}

.noAuthBox .close{
	height: 11px;
	width: 11px;
	position: absolute;
	top: 4px;
	left: 4px;
	cursor: pointer;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAlUlEQVR42o2RSQrDMAxFc5KCD5MTBgw5ioejeFMoybYhyaLdqPpFKp9AaAwPeXgSQu5E5EvO%2BaZE5a6IxRH37rjYKyukI6WUDe%2FwvOKTBSalhIQFHuTBH7Baa9gj4siJA%2BSHwgJHbmeC%2FKLso8i8%2F1ZGz1w5Xuw5Qg42Hjmj1rrD%2B835LEHvd58z%2F2CwH5tNnO0c3PkAGud706ytt0YAAAAASUVORK5CYII%3D');
}
.lightBox{
  position: absolute;
  z-index: 10;
}

.invitePanel{
  width: 400px;
  height: 200px;
  margin-left: -232px;
  left: 50%;
  top: 128px;
  display: none;
  padding: 32px;
}
#loginPanel,#invitePanel{
  padding: 32px;

}

#loginPanel .btn,#invitePanel .btn{
  cursor: pointer;
  float: left;
  height: 39px;
  overflow: hidden;
  width: 204px;
}

.tape{
  position:absolute;
  top:-15px; right:160px;
  width: 130px;
  height: 35px;
  background-color:#fff;
  opacity:0.6;
  border-left: 1px dashed rgba(0, 0, 0, 0.1);
  border-right: 1px dashed rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 1px 0px #cccccc;
  -moz-box-shadow: 0px 0px 1px 0px #cccccc;
  box-shadow: 0px 0px 1px 0px #cccccc;
  -webkit-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
  -moz-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
  -o-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
  transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
}
.left-shadow{
  width: 140px;
  height: 140px;
  bottom:-5px; left:-12px;
  position:absolute;
  z-index:-6;
  display: inline-block;
  -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
  box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
  -moz-transform: scale(1) rotate(274deg) translate(20px, 25px) skew(9deg, 0deg);
  -webkit-transform: scale(1) rotate(274deg) translate(20px, 25px) skew(9deg, 0deg);
  -o-transform: scale(1) rotate(274deg) translate(20px, 25px) skew(9deg, 0deg);
  -ms-transform: scale(1) rotate(274deg) translate(20px, 25px) skew(9deg, 0deg);
  transform: scale(1) rotate(274deg) translate(20px, 25px) skew(9deg, 0deg);
}
.right-shadow{
  width: 140px;
  height: 140px;
  bottom:-13px; right:-4px;
  position:absolute;
  z-index:-6;
  display: inline-block;
  -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
  box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
  -moz-transform: scale(1) rotate(184deg) translate(20px, 25px) skew(9deg, 0deg);
  -webkit-transform: scale(1) rotate(184deg) translate(20px, 25px) skew(9deg, 0deg);
  -o-transform: scale(1) rotate(184deg) translate(20px, 25px) skew(9deg, 0deg);
  -ms-transform: scale(1) rotate(184deg) translate(20px, 25px) skew(9deg, 0deg);
  transform: scale(1) rotate(184deg) translate(20px, 25px) skew(9deg, 0deg);
}

.fb>span{
  border-left: 1px solid #627BA8;
}
.tw>span{
  border-left: 1px solid #627BA8;
}
.loginButton > span{
  float: left;
  min-height: 20px;
  margin-top: 4px;
  padding: 3px 4px 3px 12px;
  font-size: 14px;
  font-weight: 500;
  color:white;
}

#loginPanel .loginButton{
  display: block;
  height: 32px;
  user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
}


.redText{
  font-size: 16px;
  color: #dd0017;
  font-weight: bold;
  font-style: normal;
}
#loginPanel .fbBtn{
  margin-right: 10px;
}
#loginPanel> form.authForm li{
  position: relative;
  margin-bottom: 10px;
  list-style-type: none;
}

#filterSale{
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  width: 775px;
  right: 0;
  position: fixed;
  bottom: 50px;
  z-index: 10;
  height: 44px;
}

/*.bar .bar-section-view {
  background-color: rgba(55, 55, 55, 0.95);
  border-left: 1px solid #2D2D2E;
  border-right: 1px solid #2D2D2E;
}*/
.bar label {
  color: #F38080;
  float: left;
  font-family: 'AllerBold',Helvetica,Arial,Sans-Serif;
  font-size: 18px;
  padding: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}
.bar .bar-section ul {
  float: left;
}
.bar .bar-section li {
  float: left;
  list-style-type: none;
}
.bar .bar-section li a.no-icon {
  padding-left: 12px;
}
.bar .bar-section li a:hover, .bar .bar-section li a.on {
  background-color: #1E1E1E;
  color: #FFFFFF;
}
.bar .bar-section li a,.mainCategory{
  border-radius: 1px 1px 1px 1px;
  padding: 0 2px;
  padding: 12px 12px 12px 41px;
  position: relative;
}
.bar a,.mainCategory {
  color: #E1E1E1;
  float: left;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
}
.mainCategory span,.mainCatList{
  border-color:#fff;
}
.bar a span,.mainCatList {
  background: none repeat scroll 0 0 transparent;
  border-radius: 16px 16px 16px 16px;
  border-style: solid;
  border-width: 3px;
  display: block;
  height: 16px;
  left: 15px;
  position: absolute;
  top: 11px;
  width: 16px;
}

.bar .showhide{
  float: right;
  height: 44px;
  width: 32px;
  cursor: pointer;
  position: relative;
}
.bar .rightArrow{
  border-color: transparent transparent transparent white;
  border-style: solid;
  border-width:8px;
  position: absolute;
  right: 10px;
  top: 14px;
}

.bar .leftArrow{
  border-color: transparent white transparent transparent ;
  border-style: solid;
  border-width:8px;
  position: absolute;
  right: 10px;
  top: 16px;
}
.subCatLists{
  bottom: 44px;
  position: absolute;
  width: 362px;
  background: rgba(0, 0, 0, 0.5);
  left:0;
}
.priceList{
  width: 153px;
}
.subCatLists li{
  float: left;
  list-style-type: none;
}
.subCatLists span{

}
.subCatLists li a{
  width: 128px;
  cursor: pointer;
}
.price .subCatLists li a{
  width: 100px;
}
.mainCategory:hover .subCatLists{
  
}
.mainCategory:hover,.mainCategory.selected,.price.selected{
  background-color: #1E1E1E;
  color: #FFFFFF;

}
.bar em.tringle {
  border-color: #FFFFFF transparent;
  border-style: solid;
  border-width: 0 8px 9px;
  position: absolute;
  right: 10px;
  top: 18px;
}
.mainCategory{
  position: relative;
}
.category{
	width: 128px;
}
.category .remove,.price .remove{
	display: inline-block;
	float: right;
	height: 11px;
	width: 11px;
	position: absolute;
	left: 20px;
	top : 16px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAlUlEQVR42o2RSQrDMAxFc5KCD5MTBgw5ioejeFMoybYhyaLdqPpFKp9AaAwPeXgSQu5E5EvO%2BaZE5a6IxRH37rjYKyukI6WUDe%2FwvOKTBSalhIQFHuTBH7Baa9gj4siJA%2BSHwgJHbmeC%2FKLso8i8%2F1ZGz1w5Xuw5Qg42Hjmj1rrD%2B835LEHvd58z%2F2CwH5tNnO0c3PkAGud706ytt0YAAAAASUVORK5CYII%3D');
}
.price{
  width :100px;
}
.cat1 > span{
  border-color: #537B9C;
}
.cat2 > span{
  border-color: #8DBCDD;
}
.cat3 > span{
  border-color: #EEE66D;
}
.cat4 > span{
  border-color: #AC9BE1;
}
.cat5 > span{
  border-color: #E1ABAB;
}
.cat6 > span{
  border-color: #F3B760;
}
.cat7 > span{
  border-color: #A5D280;
}
.onMainSaleWall:hover{
  background: #FAF9F7;
  -moz-box-shadow: 0 -3px 7px 0 rgba(0, 0, 0, 0.3);

}
.onMainSaleWall:hover .grabButton{
  display: block;

}
.onMainSaleWall .grabButton:hover span{color: #fff}

#mask {
  position:fixed;
  left:0;
  top:0;
  z-index:9000;
  background-color:rgba(0,0,0,0.8);
  display:none;
  min-height:1500px;
}

#boxes .window {
  left:0;
  top:0;
  display:none;
  z-index:9999;
  min-height: 560px;
  height: 100%;
}

#boxes #dialog {
  width:375px;
  height:203px;
  padding:10px;
  background-color:#ffffff;
}
#boxes{
  position: relative;
}
.authForm{
  display: block;
  padding: 15px 0 25px 0;
  text-align: center;
}
/*/Common Form Styling /*/
.buttons{
  padding-top:10px;
}
.facebookButton .logoWrapper{
  background-image: url("/images/social-connect.png");
  background-position: 1px 0;
  height: 40px;
  width: 204px;
}
.twitterButton .logoWrapper{
  background-image: url("/images/social-connect.png");
  background-position: 1px 37px;
  height: 37px;
  width: 204px;
}
.socialButtons{
  display: block;
  margin: 13px auto 10px;
  overflow: hidden;
  text-align: center;
  width: 418px;
}
.closeMe {
  background-image: url("/images/img_sprite.png");
  background-position: -41px 1px;
  display: block;
  height: 32px;
  left: -11px;
  position: absolute;
  text-indent: -9999px;
  top: -9px;
  width: 29px;
  z-index: 999;
}
.leftTilt{

}
.rightTilt{

}
.upCircle{
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  cursor: pointer;
  bottom: -12px;
  height: 12px;
  width: 24px;
  border-radius: 0px 0px 16px 16px;
}
.downCircle{
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  cursor: pointer;
  bottom: 0px;
  height: 12px;
  width: 24px;
  border-radius: 16px 16px 0 0px;
}
.pullBtn:hover{
	background-color: rgba(84, 195, 209, 1);
}
.sortByPrice,.sortByPop{
  float: left;
  padding: 10px 12px;
}
.sortByPrice{
  margin-top: 8px;
  padding: 3px 15px;
  margin-right: 10px;
}
.sortByPop{
  margin-top: 8px;
  padding: 3px 15px;
  margin-right: 10px;
}
@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 200px 0;
    }
}
.animateProgressBar{
	-webkit-animation: move 2s linear infinite;
}
/*MEDIA QURIES*/
@media screen and (max-width:1600px) {
  .mainWrapper{
    width:1350px;
  }
}

@media screen and (max-width:1400px) {
  .mainWrapper{
    width:1080px;
  }
}

@media screen and (max-width:1200px) {
  .mainWrapper{
    width:820px;
  }
}