<!DOCTYPE html>
<html>
  <head>
    <title>Pics Hub</title>
		<script type="text/javascript" src="/javascripts/lib/jquery-ui-1.8.20.custom/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="/javascripts/lib/underscore.js"></script>
    <script type="text/javascript" src="/javascripts/lib/backbone-min.js"></script>

    <script type="text/javascript" src="/javascripts/lib/activity.js"></script>
		<script type="text/javascript" src="/javascripts/lib/jquery.masonry.min.js"></script>
		<script type="text/javascript" src="/javascripts/lib/jquery-ui-1.8.20.custom/js/jquery-ui-1.8.20.custom.min.js"></script>
		<script type="text/javascript" src="/javascripts/init.js"></script>
		<LINK href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
		<div id="fb-root"></div>
	<header></header>
	<div class="phantomDiv"></div>
	<div class="noAuthBox">
		<span class="desc">Graboard gives you daily dose of design inspiration across the web.</span>
		<span class="grabIt invite btn">Request an invite</span>
		<span class="grabIt login btn">Login</span>
	</div>
	<div class="mainWrapper"></div>
	<footer>
		<div id="footer">
      <div class="scrollToTop floatLeft" style="width: 200px;">

      </div>
      <ul class="footerLinks floatRight">
        <li>&copy; 2012 PicFusion </li>
        <li>
          <a href=""> RSS</a>
        </li>
        <li>
          <a href="">Contact</a>
        </li>
        <li>
          <a href=""> About</a>
        </li>
        <li>
          <a href=""> Terms & Conditions</a>
        </li>
        <li class="lastLi">
          <a href="">Privacy Policy</a>
        </li>
      </ul>
    </div>
	</footer>
</body>
</html>
