<div class="noAuthBox">
  <div class="leftTilt"></div>
  <span style="float: left;margin-top: 10px;" class="desc">Graboard gives you daily dose of design inspiration across the web.</span>
  <a href="#invitePanel" name="modal" style="float: left;margin-left: 13px;margin-top: 10px;"><span class="grabIt invite btn">Request an invite</span></a>
  <a href="#loginPanel" name="modal" style="float: left;margin-top: 10px;"><span class="grabIt login btn">Login</span></a>
  <div class="rightTilt"></div>
  <div class="pullBtn pullDown upCircle hide"></div>
  <div class="pullBtn close"></div>
</div>
<input id="categories" type="hidden" value='<%=raw @sort_categories[:filter_categories].to_json%>'></input>
<input id="priceRange" type="hidden" value='<%=raw @price_filter.to_json%>'></input>
<div class="mainWrapper"></div>
